snippet deb "Debug print statement" b
echo('The value of ${0} is:'); dump(${0});
endsnippet

snippet dump "Dump vals" b
echo('Var ${0} contains: '); dump(${0});
endsnippet

snippet here "Debug line number" b
echo('File '.__FILE__.', line '.__LINE__);
endsnippet

snippet inv "__invoke" b
public function __invoke(${1})
{
	${2}
}
endsnippet

# make PHP property access not annoying
snippet . "" i
->
endsnippet

snippet ar "" i
['${1}' => ${2}]
endsnippet
