snippet datatype
	SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS 
	WHERE TABLE_NAME = ${1:name}
	AND COLUMN_NAME = ${2:column};
endsnippet
snippet colinfo
	SELECT COLUMN_NAME,
       DATA_TYPE,
       IS_NULLABLE,
       CHARACTER_MAXIMUM_LENGTH,
       NUMERIC_PRECISION,
       NUMERIC_SCALE
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME='${0:table}';
endsnippet
